<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spring Tic Tac Toe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta th:if="${model.isOngoing() == true}" http-equiv="refresh" content="1;URL=/game/play"/>
  </head>

  <body>
    <h1>Tic Tac Toe</h1>
    <h2>Game</h2>

    <table>
      <tr th:each="row : ${model.getBoardRows()}">
        <td th:each="cell : ${row}">
          <span th:if="${cell != null}" th:text="${cell}"></span>
          <a th:if="${cell == null}" th:href="|/game/play?move=${rowStat.size * rowStat.index + cellStat.count}|" th:text="|${rowStat.size * rowStat.index + cellStat.count}|"></a>
        </td>
      </tr>
    </table>

    <p th:if="${model.status}">
      <span th:text="${model.status}"></span>
    </p>

    <p th:if="${model.nextPlayer}">
      Next Player: <span th:text="${model.nextPlayer}"></span>
    </p>
  </body>
</html>
