<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Spring Tic Tac Toe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
    <h1>Tic Tac Toe</h1>

    <form method="post" action="/game/new">
      <fieldset>
        <legend>Board Size</legend>

        <label th:each="size, iteration : ${sizes}">
          <input type="radio" name="board_size" th:value="${size.key}" th:checked="${iteration.first}? 'checked'"/>
          <span th:text="${size.value.getDescription()}"></span>
        </label>
      </fieldset>

      <fieldset>
        <legend>Game Mode</legend>

        <label th:each="mode, iteration : ${modes}">
          <input type="radio" name="game_mode" th:value="${mode.key}" th:checked="${iteration.first}? 'checked'"/>
          <span th:text="${mode.value.getDescription()}"></span>
        </label>
      </fieldset>
      <button type="submit">Play!</button>
    </form>
  </body>
</html>
